<h1>Listing langs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @langs.each do |lang| %>
      <tr>
        <td><%= lang.name %></td>
        <td><%= lang.level.name %></td>
        <td><%= link_to 'Show', lang %></td>
        <td><%= link_to 'Edit', edit_lang_path(lang) %></td>
        <td><%= link_to 'Destroy', lang, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lang', new_lang_path %>
