<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lang.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @lang.level.name %>
</p>

<%= link_to 'Edit', edit_lang_path(@lang) %> |
<%= link_to 'Back', langs_path %>
