<!DOCTYPE html>
<html>
<head>
  <title>Language</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Levels' ,levels_path %>
<%= link_to 'Langaues',  langs_path(@lang) %>
<%= yield %>

</body>
</html>
